<html>
  <head>
    <link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.css' />
    <link rel="stylesheet" type="text/css" href="/public/custom.css">
  </head>
  <body>
    <div class='container'>
      <h1>Acme Products</h1>
      <div class='well'>
        Welcome to Acme Products!! Our top selling product is <a href='/products'>{{ product }}</a>.<br><a href="/products">View All Products</a>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">App written  by Mike Kerslake with express, node and too many cups of coffee.</p>
      </div>
    </footer>
  </body>
</html>
