<html>
  <head>
    <link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.css' />
  </head>
  <body>
    <div class='container'>
      <a href='/products'>All Product</a>
      <h1>Product - {{ product.name }}</h1>
<!--       <ul class='list-group'>
        {% for product in products %}
          <li class='list-group-item'>
            <a href='/products/{{ product.id }}'>
              {{ product.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
 -->    </div>
  </body>
</html>
