<html>
  <head>
    <link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.css' />
    <link rel="stylesheet" type="text/css" href="/public/custom.css">
  </head>
  <body>
    <div class='container'>
      <a href='/products'>Back to All Products</a>
      <h1>Product - {{ product.name }}</h1>
      <div class="well">
      <p>
        <strong>Description:</strong> {{ product.description }}<br>
        <strong>Rating:</strong> {{ product.rating }}</p>
        <form action="/products/{{ product.id }}?_method=DELETE" method="POST">
          <button class="btn btn-danger">Delete Product</button>
        </form>
      </div>
      </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">App written  by Mike Kerslake with express, node and too many cups of coffee.</p>
      </div>
    </footer>
  </body>
</html>
