<html>
  <head>
    <link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.css' />
  </head>
  <body>
    <div class='container'>
      <a href='/products'>Back to All Products</a>
      <h1>Product - {{ product.name }}</h1>
      <div class="well">
      <p>
        <strong>Description:</strong> {{ product.description }}<br>
        <strong>Rating:</strong> {{ product.rating }}</p>
        <form action="/products/{{ product.id }}?_method=DELETE" method="POST">
          <button class="btn btn-danger">Delete Product</button>
        </form>
      </div>
      </div>
    </div>
  </body>
</html>
